.App {
  background-color: #2D232B;
  height: 100%;
  position: relative;
  overflow: auto;
}
html, body {
  height: 100%;
  margin: 0;
  font-family: 'roboto';
}
#root{
  height: 100%;
}
.textdec_none{
  text-decoration: none;
}